<!doctype html>
<html lang="en">
  <head>
    <title>Hello, world!</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../assets/dist/jssocials.css" />
    <link rel="stylesheet" type="text/css" href="../assets/dist/jssocials-theme-flat.css" />
    <script src="../assets/dist/jssocials.js"></script>



    <!-- Own CSS -->
    <link rel="stylesheet" href="style.css">

    <!-- Fontawsome -->
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <!-- Vue Script -->
    <script src="https://unpkg.com/vue"></script>


  </head>
  <body>

    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#" id="upload">Share your own picture!</a>
          </li>
        </ul>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <div id="share"></div>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Pinterest Grid Style -->
    <div id="v">
      <div class="container" style="padding-top: 100px; padding-bottom: 2em">
        <div class="row">
          <hr>
          <section id="pinBoot">
            <!-- Article Panel -->
              <vue-article :title="photo.title" :url="photo.url" :like="photo.like" v-for="photo in photos"/>
          </section>
          </div>

        </div>
      </div>



    <!-- Upload modal -->
    <div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Upload an image</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div v-if="!image">
              <p style="font-weight: bold" style="padding-bottom: 20px">Upload</p>
              <input type="file" @change="onFileChange">
            </div>
            <div v-else>
              <img :src="image" />
              <button @click="removeImage">Remove image</button>
            </div>
          </div>
          <div class="container">
            <div class="row" style="padding-bottom: 20px">
              <div class="col-md-12">
                <p style="font-weight: bold">Insert title / description</p>
                <input type="text" name="title" placeholder="input desc / title">
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" style="border-color: black; background-color: #eee; color: black">Save changes</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <div class="footer" id="footer">
      <p style="color: white">Copyright Hacktiv8</p>
      <div id="share"></div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <!-- Pinterest Grid Script -->
    <script src="/assets/scripts/scriptPinterest.js"></script>
    <!-- Vue Script -->
    <script src="/assets/scripts/vueScript.js"></script>
    <!-- Jquery script -->
    <script src="/assets/scripts/plainScript.js"></script>
    <!-- Share jSocial -->
    <script src="../assets/dist/jssocials.min.js"></script>
    <script src="/assets/scripts/share.js"></script>

  </body>
</html>
